<%- include("partials/header.ejs") %>
<h1>Your Books Reviews📓</h1>
<% books.forEach((book) =>{ %>
    <div class="shadow">
<h1><%= book.title %></h1>

  <p><%= book.review.substring(0,100) + "..." %></p>


<small><%= book.author %></small>
<div>
  <a href="/books/<%=book._id %>">Read More</a>
</div>
</div>

<%})%> <%- include("partials/footer.ejs") %>
